{% if messages %}
<div class="my-2 space-y-4">
    {% for message in messages %}
        <div class="flex items-start p-3 shadow-sm border-l-4
            {% if message.tags == 'success' %} bg-green-50 border-green-500 text-green-800
            {% elif message.tags == 'error' %} bg-red-50 border-red-500 text-red-700
            {% else %} bg-orange-50 border-orange-500 text-orange-700 {% endif %}">
            <!-- Иконка -->
            <svg class="mr-3 flex-shrink-0 mt-0.5" fill="currentColor" width="18" height="18" viewBox="0 0 20 20">
                {% if message.tags == 'success' %}
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                {% elif message.tags == 'error' %}
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                {% else %}
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v4a1 1 0 002 0V7zm-1 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                {% endif %}
            </svg>
            <p class="text-sm">{{ message }}</p>
        </div>
    {% endfor %}
</div>
{% endif %}