{% extends 'base.html' %}

{% block title %}
    <title>Корзина | Vaunire</title>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-6 max-w-[1330px] flex flex-col min-h-[calc(100vh-200px)]">
    <!-- Навигация "Назад к каталогу" -->
    <nav class="mb-0.5 text-sm text-gray-500">
        <ol class="flex space-x-1">
            <li class="flex items-center">
                <a href="/" class="flex items-center text-blue-600 hover:text-blue-700 text-xs tracking-wide">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.5" height="8.5" viewBox="0 0 24 24" class="mr-1.5 text-blue-600">
                        <path fill="currentColor" d="M17.77 3.77L16 2L6 12l10 10l1.77-1.77L9.54 12z"/>
                    </svg>
                    Назад к каталогу
                </a>
            </li>
        </ol>
    </nav>
    
    <!-- Сообщения -->
    {% include 'partials/messages.html' %}

    {% if cart.products.count %}
        <div class="flex flex-col lg:flex-row gap-8 flex-grow">
            <div class="flex-1 space-y-4">
                <!-- Товары в заказе -->
                {% include 'partials/cart/cart_items.html' %}

                <!-- Оформление заказа -->
                {% include 'partials/cart/cart_checkout.html' %}
            </div>

            <!-- Боковая панель -->
            {% include 'partials/cart/cart_summary.html' %}
        </div>
    {% else %}
    <div class="flex flex-col items-center tracking-wide justify-center text-center flex-grow">
        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 24 24" class="text-gray-300 mb-3">
            <path fill="currentColor" d="M22.73 22.73L2.77 2.77L2 2l-.73-.73L0 2.54l4.39 4.39l2.21 4.66l-1.35 2.45c-.16.28-.25.61-.25.96c0 1.1.9 2 2 2h7.46l1.38 1.38A1.997 1.997 0 0 0 17 22c.67 0 1.26-.33 1.62-.84L21.46 24zM7.42 15c-.14 0-.25-.11-.25-.25l.03-.12l.9-1.63h2.36l2 2zm8.13-2c.75 0 1.41-.41 1.75-1.03l3.58-6.49A1.003 1.003 0 0 0 20 4H6.54zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2s-.9-2-2-2"/>
        </svg>
        <h2 class="text-2xl font-geologica font-medium text-gray-800 mb-2.5">Ваша корзина пуста :(</h2>
        <p class="text-gray-600 font-light mb-4 max-w-md">Похоже, вы ещё не добавили товары в корзину. Перейдите в каталог, чтобы найти что-то интересное!</p>
        <a href="/" class="px-4 py-2 bg-blue-600 text-white font-geologica text-xs font-medium tracking-wider rounded-md hover:bg-blue-700 transition-colors duration-200 shadow-sm hover:shadow-md focus:ring-2 focus:ring-blue-500 focus:outline-none">
            Вернуться на главную
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}