/* Стили для ползунков ценового диапазона и года */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: transparent;
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 3px solid #3b82f6;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 2px solid #3b82f6;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    pointer-events: auto;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb {
    background: #2563eb;
    border-color: #ffffff;
}

/* Контейнер для слайдера */
.slider-container {
    position: relative;
    height: 16px;
    width: 100%;
}

/* Стили для контейнера фильтров */
.filter-container {
    transition: max-height 0.3s ease;
}

.filter-container::-webkit-scrollbar {
    width: 6px;
}

.filter-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.filter-container::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 3px;
}

.filter-container::-webkit-scrollbar-thumb:hover {
    background: #2159d3;
}

/* Стили для ограничения списка */
.list-limited>label:nth-child(n+4) {
    display: none;
}

/* Стили для свича */
.switch-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d1d5db;
    /* gray-300 */
    transition: background-color 0.3s;
    border-radius: 9999px;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #ffffff;
    transition: transform 0.3s;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.switch-checkbox:checked+.switch-slider {
    background-color: #2563eb;
    /* blue-600 */
}

.switch-checkbox:checked+.switch-slider:before {
    transform: translateX(20px);
}