{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen flex tracking-wide justify-center mt-16">
    <div class="w-full max-w-lg">
        <div class="bg-white rounded-b-2xl shadow-lg overflow-hidden">
            <div class="h-1.5 bg-blue-600"></div>
            <div class="p-7">
                <div class="text-center mb-5">
                    <svg class="text-blue-600 items-center mx-auto mb-1.5 opacity-85" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M20.82 6.49v1a3 3 0 0 1-.32 1.34a3 3 0 0 1-.87 1.07a3.09 3.09 0 0 1-1.25.57a3.306 3.306 0 0 1-1.38-.03l-4.24-1.2v8.22a4.79 4.79 0 1 1-1.5-3.47V2.46a.639.639 0 0 1 0-.2v-.08a.76.76 0 0 1 .54-.44h.44l6.3 1.79a3 3 0 0 1 2.22 2.93z"/>
                    </svg>
                    <h1 class="text-2xl sm:text-3xl mt-1.5 font-semibold text-gray-800 font-geologica">
                        Добро пожаловать
                    </h1>
                    <p class="mt-1.5 text-gray-600 text-sm">Введите свои данные для входа</p>
                </div>

                <form method="post" action="{% url 'login' %}" class="space-y-5">
                    {% csrf_token %}

                    {% if form.errors  %}
                        <div role="alert" class="rounded-sm tracking-wide border-s-4 border-red-500 bg-red-50 p-2.5">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p class="text-xs ml-1 text-red-700">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <p class="text-xs ml-1 text-red-700">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div>
                        <label for="username" class="flex items-center mb-1.5">
                            <svg class="text-gray-400 mr-1.5 opacity-75" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2S7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z" fill="currentColor"/>
                            </svg>
                            <span class="text-sm font-light">Имя пользователя</span>
                        </label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <div class="w-[3px] h-5 bg-blue-500 rounded-full transition-all duration-300"></div>
                            </div>
                            <input type="text" id="username" name="username" value="{{ form.username.value|default:'' }}"
                                   class="text-sm block w-full rounded-lg pl-7 pr-4 py-3 bg-transparent border-b-1 border-gray-200 focus:border-b-blue-500 outline-none transition-all duration-300 placeholder-gray-400"
                                   placeholder="Введите логин" required>
                        </div>
                    </div>

                    <div>
                        <label for="password" class="flex items-center mb-1.5">
                            <svg class="text-gray-400 mr-1.5 opacity-75" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
                            </svg>
                            <span class="text-sm font-light">Пароль</span>
                        </label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <div class="w-[3px] h-5 bg-blue-500 rounded-full transition-all duration-300"></div>
                            </div>
                            <input type="password" id="password" name="password"
                                   class="text-sm block w-full rounded-lg pl-7 pr-4 py-3 bg-transparent border-b-1 border-gray-200 focus:border-b-blue-500 outline-none transition-all duration-300 placeholder-gray-400"
                                   placeholder="Введите пароль" required>
                        </div>
                    </div>

                    <div>
                        <button type="submit"
                                class="w-full flex justify-center tracking-wide py-2.5 px-4 border border-transparent rounded-lg text-sm font-geologica font-medium text-white bg-blue-600 hover:bg-blue-700 transition-colors">
                            Авторизоваться
                        </button>
                    </div>

                    <div class="text-center text-[13px] text-gray-600">
                        Нет аккаунта? 
                        <a href="{% url 'registration' %}" class="font-medium text-blue-600 hover:text-blue-500 transition-colors">
                            Зарегистрируйтесь
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}