{% load humanize %}
<div id="wishlist" class="tab-pane {% if active_tab != 'wishlist' %}hidden{% endif %}">
    <div class="bg-white p-3 min-h-[470px]">
        <div class="flex items-center justify-between mb-4">
            <div class="flex items-center space-x-3 relative">
                <h2 class="text-xl font-geologica font-semibold text-gray-800">Лист ожидания</h2>
                <span class="absolute bottom-0 -left-3 w-full h-0.5 bg-blue-500 transform translate-y-1"></span>
            </div>
        </div>
        <div class="min-h-[400px] overflow-y-auto space-y-3 pr-1.5 tracking-wide">
            {% for album in customer.wishlist.all %}
                <div class="flex items-center justify-between bg-white p-3.5 rounded-lg shadow-sm hover:shadow-md transition-all duration-300 border border-gray-100">
                    <div class="flex items-center space-x-5">
                        <img src="{{ album.image.url }}" alt="{{ album.name }}" class="w-16 h-16 object-cover ml-2 rounded-md">
                        <div>
                            <a href="{{ album.get_absolute_url }}" class="text-gray-800 font-medium hover:text-blue-600 transition-colors duration-300 block">
                                {{ album.name }}
                            </a>
                            <a href="{{ album.artist.get_absolute_url }}" class="text-gray-600 text-sm hover:text-blue-600 transition-colors duration-300 block">
                                {{ album.artist.name }}
                            </a>
                            <div class="flex items-center space-x-2 mt-1">
                                <span class="text-xs text-gray-600 font-normal bg-gray-100 px-2 py-[3px] rounded">
                                    {% if album.styles.all %}
                                        {% for style in album.styles.all %}
                                            {{ style.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                     {% endif %}
                                </span>
                                <span class="text-base font-semibold">{{ album.current_price|floatformat:0|default:'0'|intcomma }} ₽</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex gap-3 mr-2 opacity-75">
                        <!-- Кнопки "Добавить/Удалить из избранного" -->
                        {% if album in request.user.customer.favorite.all %}
                            <a href="{% url 'remove_from_favorite' album_id=album.id %}" class="p-1.5 bg-gray-100 rounded-md hover:bg-gray-200 text-red-500 transition-all duration-300 hover:scale-105" title="Удалить из избранного">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M2 9.137C2 14 6.02 16.591 8.962 18.911C10 19.729 11 20.5 12 20.5s2-.77 3.038-1.59C17.981 16.592 22 14 22 9.138c0-4.863-5.5-8.312-10-3.636C7.5.825 2 4.274 2 9.137"/>
                                </svg>
                            </a>
                        {% else %}
                            <a href="{% url 'add_to_favorite' album_id=album.id %}" class="p-1.5 bg-gray-100 text-gray-400 rounded-md hover:bg-gray-200 hover:text-red-500 transition-all duration-300 hover:scale-105" title="Добавить в избранное">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M2 9.137C2 14 6.02 16.591 8.962 18.911C10 19.729 11 20.5 12 20.5s2-.77 3.038-1.59C17.981 16.592 22 14 22 9.138c0-4.863-5.5-8.312-10-3.636C7.5.825 2 4.274 2 9.137"/>
                                </svg>
                            </a>
                        {% endif %}
                        
                        <!-- Кнопка "Удалить из вишлиста" -->
                        <a href="{% url 'remove_from_wishlist' album_id=album.id %}" class="p-1.5 bg-gray-100 text-gray-400 rounded-md hover:bg-gray-200 hover:text-blue-500 transition-all duration-300 hover:scale-105" title="Удалить из списка ожидания">
                            <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </a>
                    </div>
                </div>
            {% empty %}
                <div class="text-center py-4">
                    <svg class="w-16 h-16 mx-auto text-gray-200 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19.8 22.6L1.4 4.2l1.4-1.4l18.4 18.4zM14 11.15l-2-2V3h6v4h-4zM10 21q-1.65 0-2.825-1.175T6 17t1.175-2.825T10 13q.575 0 1.063.138t.937.412V12l2 2v3q0 1.65-1.175 2.825T10 21"/></svg>
                    <p class="text-base font-geologica font-thin">Ваш список ожидаемого пуст</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>