{% load static %}
<body class="bg-gray-100 flex flex-col min-h-screen">
    <!-- Футер -->
    <footer class="bg-white py-10 rounded-xl max-w-[1300px] w-full mx-auto mt-auto font-light tracking-wide">
        <div class="container mx-auto px-4 sm:px-6 lg:px-4">
            <div class="grid grid-cols-1 lg:grid-cols-2">
                <div class="space-y-5 pl-16">
                    <!-- Логотип и описание -->
                    <div>
                        <a href="/" class="flex items-center">
                            <img src="{% static 'images/logo/logo_black.png' %}" alt="vaunire_logo" class="h-12 w-auto">
                        </a>
                        <p class="mt-4 text-sm text-gray-600">
                            Музыкальный интернет - магазин
                        </p>
                    </div>
                    
                    <!-- Контакты -->
                    <div class="space-y-4">
                        <div>
                            <h4 class="font-semibold text-gray-900">Контакты</h4>
                            <div class="mt-2 space-y-2 text-sm text-gray-600">
                                <p>+7 (999) 999-99-99</p>
                                <p>vaunire@info</p>
                            </div>
                        </div>
                        
                        <div>
                            <h4 class="font-semibold text-gray-900">Пункт самовывоза</h4>
                            <p class="mt-2 text-sm text-gray-600">
                                Архангельская область, Северодвинск, Капитана Воронина, 6Б
                            </p>
                        </div>
                    </div>
                </div>
                
                <!-- Второй блок  -->
                <div>
                    <div class="grid grid-cols-1 sm:grid-cols-3">
                        <!-- Личный кабинет -->
                        <div class="-ml-5">
                            <h3 class="text-lg font-bold text-gray-900">Личный кабинет</h3>
                            <ul class="mt-4 space-y-3 text-sm text-gray-600">
                                <li><a href="#" class="hover:text-blue-600">Заказы</a></li>
                                <li><a href="#" class="hover:text-blue-600">Настройки</a></li>
                            </ul>
                        </div>
                        
                        <!-- Сервис -->
                        <div class="ml-2">
                            <h3 class="text-lg font-bold text-gray-900">Сервис</h3>
                            <ul class="mt-4 space-y-3 text-sm text-gray-600">
                                <li><a href="#" class="hover:text-blue-600">Доставка</a></li>
                                <li><a href="#" class="hover:text-blue-600">Возврат и обмен</a></li>
                                <li><a href="#" class="hover:text-blue-600">Оплата</a></li>
                            </ul>
                        </div>
                        
                        <!-- О магазине -->
                        <div>
                            <h3 class="text-lg font-bold text-gray-900">О магазине</h3>
                            <ul class="mt-4 space-y-3 text-sm text-gray-600">
                                <li><a href="#" class="hover:text-blue-600">Частые вопросы</a></li>
                                <li><a href="#" class="hover:text-blue-600">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Дополнительные ссылки -->
                    <div class="mt-10 flex flex-wrap gap-4 -ml-5">
                        <a href="#" class="text-xs text-gray-500 hover:text-blue-600">Положение о личной информации и о cookie</a>
                        <a href="#" class="text-xs text-gray-500 hover:text-blue-600">Оферта на куплю - продажу товара</a>
                        <a href="#" class="text-xs text-gray-500 hover:text-blue-600">На информационном ресурсе применяются рекомендательные технологии</a>
                        <a href="#" class="text-xs text-gray-500 hover:text-blue-600">Оферта на оказание услуг по организации производства</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>